* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 0.9rem;
}
body {
	height: 100%;
}

input:focus {
	outline: none;
}

nav {
	display: flex;
	align-items: center;
	padding: 0.5rem 2rem;
	background: white;
	border-bottom: 1px solid #868686;
	height: 3rem;
}

nav .options {
	float: right;
	margin-left: auto;
	margin-right: 0;
}

nav .logo {
	width: 2.7rem;
	aspect-ratio: 1;
}

nav img.search {
	aspect-ratio: 1;
	height: 80%;
}

nav .one {
	display: flex;
	align-items: center;
	border-radius: 1rem;
	background-color: #d6d6d6;
	height: 80%;
	width: 200px;
	margin-left: 2rem;
	padding-left: 7px;
}

nav .one #searchstuff {
	border: none;
	background: transparent;
}

nav ul {
	display: flex;
	list-style: none;
	margin-right: 4rem;
}

nav li {
	padding-left: 0.2rem;
}

nav .pen {
	height: 1.2rem;
	width: 1.5rem;
}

nav .notif {
	padding-left: 2rem;
	height: 1.2rem;
	width: 1.5rem;
}

nav a {
	text-decoration: none;
	color: #868686;
}

a:hover {
	color: black;
}

.container {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 3rem;
}

.container .left {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .left p {
	color: #868686;
}

.container hr {
	border-style: none;
}

.right {
	display: flex;
	margin-left: 2rem;
	flex-direction: column;
}
.right .box1{
    display: flex;
    flex-direction: row;
}
.right .box1 .textcontainer{
    display: flex;
    flex-direction: column;
}
.right .box1 .imagecontainer img{
    display: flex;
    flex-direction: column;
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 25%;
}
.container .right .box1 p{
	color: #868686;
}

.container .right .box1 .time span {
	font-size: 1.2rem;
}

.container .right .box1 .likes p {
	font-size: 1.2rem;
}
.container .right .box1 .likes img {
	height: 1.2rem;
	width: 1.2rem;
}

footer {
	display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: auto;
}

footer p a{
    font-size: 0.75rem;
	text-decoration: none;
	color: #868686;
    padding: 2px 2px 2px 2px;
}
